<div id="changelog-container">
  <div class="logo"><a href="/"><%= image_tag('pingly-logo-v2.svg', width: 60) %></a></div>

  <div class="header">Pingly Changelog</div>

  <div class="changelog-item">
    <div class="date"><%= time_ago_in_words(DateTime.strptime('2018-11-26T11:33:00-05:00', '%Y-%m-%dT%H:%M:%S%z')) %> ago</div>
    <div class="content">
      <div class="title">Keyboard shortcut: Command + Enter to send email reply</div>
      <div class="type improvement">Improvement</div>
      <div class="body">Added Command + Enter keyboard shortcut to send an email reply. This matches the compose keyboard shortcut too.</div>
    </div>
  </div>
  <!-- REPEAT ABOVE changelog-item FOR EACH ENTRY -->
      
</div>
